.welcome {
    font-family: creato_bold;
    display: flex;
    text-align: left;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    width: min(80vw, 1000px);
}

.welcome_section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome_minor {
    font-size: 30px;
    font-family: creato_light;
}

.decal {
    height: auto;
    width: 200px;
    display: flex;
}

.decal_mobile {
    height: auto;
    width: 200px;
    display: flex;
    
}

.welcome_dev {
    padding: 30px 30px 30px 0;
}

.welcome_dev_mobile {
    padding: 30px 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.links_section {
        overflow: hidden;
}

.social_media_icons {
    height: auto;
    width: 150px;
}

.sm_icon_spacing {
    margin: 20px 120px 30px;
}

.social_media_links {
    display: flex;
    justify-content: center;
}

.footer_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 100px 0 0px;
    width: 100%;
    box-shadow: 0 20px 30px 10px rgba(0, 0, 0, .3);
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
    width: 100%;
}

.nav_footer {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0);
    width: 100%;
}

.nav_footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_footer li{
    height: 90px;
}

.nav_footer a {
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 30px;
}

.nav_footer a:hover {
    background-color: rgb(232, 242, 247);
    border-width: 20px;
    box-shadow: inset 0 0 7px 6px white;
    border-radius: 25px;
}

.nav_footer a:active {
    background-color: rgb(206, 232, 245);
    border-width: 20px;
    box-shadow: inset 0 0 3px 10px rgb(255, 255, 255);
    border-radius: 25px;
}

.nav_footer li:first-child {
    margin-right: 9px;
}






@media(max-width: 1000px){
    .welcome {
        font-size: 75px;
        text-align: center;
    }
    .welcome_section {
        padding: 40px 0;
    }
    .welcome_minor {
        font-size: 50px;
    }
    .decal {
        width: 300px;
        display: none;
    }
    .welcome_dev {
        padding-right: 0;
    }
}

@media(min-width: 1001px){
    .decal_mobile{
        display: none;
    }

    .social_media_icons{
        width: 80px;
    }
    

    
}